:root {
  --comment-bubble-bg-color: var(--white);
  --comment-bubble-inner-bg: var(--tt-brand-color-200);
  --comment-bubble-inner-text: var(--tt-gray-light-a-600);
}

.dark {
  --comment-bubble-bg-color: var(--tt-gray-dark-200);
  --comment-bubble-inner-bg: var(--tt-brand-color-700);
  --comment-bubble-inner-text: var(--tt-gray-dark-a-700);
}

.tiptap-comment-bubbles {
  width: var(--editor-width, 100%);
  height: 0;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}

/*
    Comment Bubble
  */
.tiptap-comment-bubble {
  transition: opacity 500ms;
  position: absolute;
  left: 100%;
  top: var(--offset);

  &[data-resolved="true"] {
    opacity: 0.2;
  }

  .tiptap-comment-bubble-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding: 0.25rem;
    min-width: 2rem;
    border-top-left-radius: var(--tt-radius-md);
    border-bottom-right-radius: var(--tt-radius-md);
    border-top-right-radius: var(--tt-radius-md);
    background-color: var(--comment-bubble-bg-color);
    box-shadow:
      0 2.39px 3.26px rgba(0, 0, 0, 0.0308),
      0 8.04px 10.84px rgba(0, 0, 0, 0.0692),
      0 36px 49px rgba(0, 0, 0, 0.1),
      0 2px 3px rgba(0, 0, 0, 0.05);
  }

  .tiptap-comment-bubble-pointer {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 1rem;
    height: 0.5rem;
    color: var(--comment-bubble-bg-color);
  }

  .tiptap-comment-bubble-thread-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--comment-bubble-inner-bg);
    color: var(--comment-bubble-inner-text);
    border-radius: 50%;
    border-bottom-left-radius: var(--tt-radius-md);
    font-size: 0.75rem;
    line-height: normal;
    font-weight: 600;
  }
}

.tiptap-comment-bubble-mobile-authors {
  position: relative;

  &-indicator {
    position: absolute;
    bottom: -0.125rem;
    right: -0.125rem;
  }
}
